<!DOCTYPE HTML>
<html>
    <header>
        <meta charset="utf-8">
        <title>About</title>
        <link rel="stylesheet" href="../css/index.css"/>
    </header>
    <body>
        <div class="header">
            <p class="header__logo">About</p>
            <div class="header_nav">
                <a class="header__nav__link" href="/main">Main</a>
                <a class="header__nav__link" href="/about">About</a>
                <a class="header__nav__link" href="/form">Form</a>
            </div>
        </div>
        <h1>About</h1>
    </body>
</html>