<!DOCTYPE HTML>
<html>
    <header>
        <meta charset="utf-8">
        <title>Form</title>
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="../css/form.css"/>
    </header>
    <body>
        <div class="header">
            <p class="header__logo">Form</p>
            <div class="header_nav">
                <a class="header__nav__link" href="/main">Main</a>
                <a class="header__nav__link" href="/about">About</a>
                <a class="header__nav__link" href="/form">Form</a>
            </div>
        </div>
        <div class="form-content">
            <form class="form-content__form" method="POST" action="/form">
                <input type="text" name="name" id="name" placeholder="name">
                <input type="age" name="age" id="age" placeholder="age">
                <input type="submit" name="Send">
            </form>
        </div>
    </body>
</html>