<html>
    <head>
        <title>Пончики Дункана</title>
        <script type="text/javascript">
            function updateOrder() {
                const TAXRATE = 1;
                const DONUTPRICE = 5;
                var numCakeDonuts = parseInt(document.getElementById("cakedonuts").value);
                var numGlazedDonuts = parseInt(document.getElementById("glazeddonuts").value);
                var subTotal = (numCakeDonuts + numGlazedDonuts) * DONUTPRICE;
                var tax = subTotal * TAXRATE;
                var total = subTotal + tax;
                document.getElementById("subtotal").value = "$" + subTotal.toFixed(2);
                document.getElementById("tax").value = "$" + tax.toFixed(2);
                document.getElementById("total").value = "$" + total.toFixed(2);
            }

            function placeOrder() {
                if (document.getElementById("name").value = ""){
                    alert("Input your name");
                } else if (document.getElementById("pickupminutes").value = "" || 
                isNaN(document.getElementById("pickupminutes").value)) {
                    alert("Input time");
                } else {
                    alert("OK");
                }
            }
        </script>
    </head>

    <body>

    </body>
</html>