<html>
    <header>
        <title>Main</title>
        <link rel="stylesheet" href="../css/index.css"/>
    </header>
    <body onload="javascript:loadUsers();">
        <div class="header">
            <p class="header__logo">Main</p>
            <div class="header_nav">
                <a class="header__nav__link" href="/main">Main</a>
                <a class="header__nav__link" href="/about">About</a>
                <a class="header__nav__link" href="/form">Form</a>
            </div>
            <script type="text/javascript" src="../scripts/main_scripts.js"></script>
        </div>
        <div>
            <table>
                <tbody id="table"/>
            </table>
        </div>
        <h1>Main</h1>
    </body>
</html>