<html>
    <head>
        <title>iRock - Виртуальный любимец Rock</title>
        <script type="text/javascript">
            function touchRock() {
                var userName = prompt("Как вас зовут?", "Введите ваше имя.");

                if (userName){
                    alert("Рад вас видеть, " + userName + ".");
                    document.getElementById("rockImg").src = "../image/rock_happy.jpg";
                }
            }    
        </script>
    </head>

    <body onload="alert('Hello, I am your pet rock.')"
        <div style="margin-top:100px; text-align:center">
            <img id="rockImg" src="../image/rock.png" alt="iRock"
            style="cursor: pointer;" onclick="touchRock()"/>
        </div>
    </body>
</html>